@import "@vars";
@import '../../node_modules/tanane-lib-ui/dist/style.css';

body {
    font-family: $font-family;
    background-color: $bg;
}

#root {
    display: flex;
    padding: 50px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}