$primary-color: #35cecf;
$accent-color: #ff9900;
$smoke: #f7f7f7;
$white: #FFFFFF;
$bg: #D3E9F3;

$font-family: 'Roboto', sans-serif;
$font-size-base: 18px;
$line-height-base: 1.5;

$spacing-unit: 8px;
$padding-base: $spacing-unit;
$margin-base: $spacing-unit * 3;

$border-radius: 5px;

$default_shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

